@page "/"
@rendermode InteractiveAuto

@using Microsoft.AspNetCore.WebUtilities

@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<h1>Hello, Blazor BFF Onboarding!</h1>

@if (_onboardingErrorMessage is not null)
{
    <div class="alert alert-danger" role="alert">
        <strong>Onboarding Failed:</strong> @_onboardingErrorMessage
    </div>
}

<AuthorizeView>
    <Authorized>
        <p>
            <strong>Hello, @context.User.Identity?.Name</strong>
        </p>
        <p>
        @if (context.User.HasClaim(c => c.Type.Equals("display-name", StringComparison.InvariantCultureIgnoreCase)))
        {
            var displayName = context.User.Claims
                .First(c => c.Type.Equals("display-name", StringComparison.InvariantCultureIgnoreCase)).Value;
            
            <span>Your DisplayName is: "@displayName"</span>
        }
        else
        {
            // This should not happen ...
            <span>Oops, we could not determine your DisplayName, our apologies ...</span>
        }
        </p>
    </Authorized>
    <Authorizing>
      <div>logging in</div>
    </Authorizing>
    <NotAuthorized>
      <div>not logged in</div>
    </NotAuthorized>
</AuthorizeView>

@code {
    private string? _onboardingErrorMessage;

    protected override void OnInitialized()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("onboardingError", out var error))
        {
            if (error == "true" && QueryHelpers.ParseQuery(uri.Query).TryGetValue("message", out var message))
            {
                _onboardingErrorMessage = message;
            }
        }
    }
}