@inject IConfiguration Configuration

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorBffOnboarding</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="greet">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Greetings
            </NavLink>
        </div>

        <AuthorizeView Policy="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/users">
                        <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> User Admin
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        @if (Configuration.GetValue<bool>("EnableAuthDiagnostics"))
        {
            <AuthorizeView>
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="diag/app">
                            <span class="bi bi-eyeglasses-nav-menu" aria-hidden="true"></span> Diagnostics
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>
        }

    </nav>
</div>